.signUp {
  background-color: #d6e9fe;
  padding: 40px;
  text-align: center;
}
@media screen and (min-width: 440px) {
  .signUp {
    grid-column: 1 / span 1;
  }
}
@media screen and (min-width: 1024px) {
  .signUp {
    order: 4;
    grid-column: 1 / span 3;
  }
}
